# App Configurations
NODE_ENV='development'
APP_NAME='JS'
APP_HOST='localhost'
APP_PORT='4002'
IS_HTTPS='false'
APP_BASE_URL='http://localhost:4002/'
ALLOWED_HOSTS='http://localhost:4002/'

# DB Configurations
DATABASE_HOST='localhost'
DATABASE_PORT='3306'
DATABASE_USERNAME='root'
DATABASE_PASSWORD='ur48x'
DATABASE_NAME='turbo-repo'
DATABASE_CHARSET='utf8mb4'