# App Configurations
NODE_ENV='development'
APP_NAME='Oasis'
APP_HOST='localhost'
APP_PORT='4000'
IS_HTTPS='false'
LOG_DB_QUERIES='true'
APP_BASE_URL='http://localhost:4000/'
ALLOWED_HOSTS='http://localhost:4000/'

# Swagger Configurations
SWAGGER_USERNAME='Techuz'
SWAGGER_PASSWORD='Techuz@123'
SWAGGER_API_BASE_URL='http://localhost:4000/api/'

# DB Configurations
DATABASE_HOST='localhost'
DATABASE_PORT='3306'
DATABASE_USERNAME='root'
DATABASE_PASSWORD='Techuz@123'
DATABASE_NAME='oasis'
DATABASE_CHARSET='utf8mb4'

# SMTP Configurations
FROM_EMAIL=''
SMTP_HOST='smtp.ethereal.email'
SMTP_PORT='587'
SMTP_USER=''
SMTP_PASS=''
SMTP_SECURE=''

# JWT Configurations
JWT_SECRET='Techuz'
JWT_REFRESH_SECRET='Techuz'
JWT_EXPIRES_IN='86400'
JWT_REFRESH_EXPIRES_IN='604800'

# AWS S3 Configurations
S3_BUCKET_REGION='ap-south-1'
S3_BUCKET_NAME='oasis'
S3_BUCKET_ENDPOINT='s3.amazonaws.com'
S3_BUCKET_PORT='443'
S3_BUCKET_USE_SSL='true'
S3_BUCKET_ACCESS_KEY_ID=''
S3_BUCKET_SECRET_ACCESS_KEY=''
S3_BUCKET_BASE_URL='https://oasis.s3.amazonaws.com'
S3_BUCKET_PRIVATE='true'
S3_BUCKET_PRESIGNED_URL_EXPIRY='3600'

# Stripe Configurations (Jitendra)
# 1: true, 0: false
STRIPE_LIVE_MODE='0'
STRIPE_SECRET_KEY=''
STRIPE_WEB_HOOK_SECRET=''