# App Configurations
NODE_ENV='development'
APP_NAME='Oasis'
APP_HOST='localhost'
SERVER_PORT='4000'
IS_HTTPS='false'
APP_BASE_URL='http://localhost:4000/'
ALLOWED_HOSTS='http://localhost:4000/'

# Swagger Configurations
SWAGGER_USERNAME='Techuz'
SWAGGER_PASSWORD='Techuz@123'

# DB Configurations
DATABASE_HOST='localhost'
DATABASE_PORT='3306'
DATABASE_USERNAME='root'
DATABASE_PASSWORD='abcdef'
DATABASE_NAME='oasis'
DATABASE_CHARSET='utf8mb4'

# JWT Configurations
JWT_SECRET='Techuz'
JWT_REFRESH_SECRET='Techuz'
JWT_EXPIRES_IN='86400'
JWT_REFRESH_EXPIRES_IN='604800'